<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="" />
  </div>
  <div class="headings">
    <h2>Taskyz</h2>
    <h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspManages all your tasks at one place...</h3>
    <h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNever Miss Out Any tasks</h3>
    <a href="/todos" class="btn">View Tasks</a>
  </div>
</header>

<%- include('partials/footer'); -%>
